@media (max-width: 1033px) {
    .footer-box form {
        margin-left: 0;
    }
}
@media (max-width: 1100px) {
    .footer__inner {
        flex-wrap: wrap;
    }
    .footer-social {
        display: block;
    }
}

@media (max-width: 1152px) {
    .contact__wrapper {
        justify-content: center;
    }
    .contact-box+.contact-box {
        margin-left: 30px;
    }
}

@media (max-width:960px) {
    .header-menu__list {
        display: none;
    }
    .suggestion__inner {
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .suggestion-box {
        margin-top: 80px;
    }
    .suggestion-box:last-child {
        margin-top: 0;
    }
}

@media (max-width: 809px) {
    .contact-message .message-form__inner textarea {
        max-width: 360px;
    }
    .contact-content {
        padding-top: 80px;
    }
    .contact-top {
        padding: 75px 0;
    }
    .contact__wrapper {
        display: block;
        width: 100%;
    }
    .contact-box {
        margin: 30px auto;
    }
    .contact-box+.contact-box {
        margin-left: auto;
    }
}

@media (max-width: 850px) {
    .f-screen__title {
        font-size: 45px;
        line-height: 55px;
    }
    .seller-box {
        display: none;
    }
    .suggestion form {
        flex-wrap: wrap;
    }
    .jq-selectbox {
        width: 100%;
    }
    .suggestion input {
        max-width: 100%;
    }
    .suggestion .jq-selectbox__select {
        margin-top: 10px;
        border: 1px solid #dcdcdc;
        width: 100%;
    }
    .suggestion button {
        margin-top: 10px;
        margin-left: 0;
        width: 100%;
    }
}


@media (max-width: 753px) {
    .suggestion {
        margin-bottom: 55px;
    }    
    .suggestion-box {
        margin-top: 0px;
    }
    .suggestion-box:first-child {
        margin-top: 60px;
    }
}
@media (max-width: 720px) {
    .footer-top {
        padding: 100px 0 80px;
    }
    .footer-box:first-child {
        min-width: 100%;
        a {
            display: block;
        }
    }
    .footer-box {        
        margin-bottom: 30px;
        &__title {
            margin-bottom: 5px;
        }
    }
    .contact-message .message-form__inner input {
        margin-left: 0;
    } 
    .contact-message .message-form__inner textarea {
        margin-left: 0;
    }
    .contact-content {
    padding-bottom: 80px;
    }
}


@media (max-width: 556px) {
    .suggestion form {
        display: block;
    }
    .terms-box__text {
        padding: 0 15px;
    }
    .terms-box__title {
        padding-left: 15px;
        padding-top: 28px;
        padding-bottom: 24px;
        margin-bottom: 20px;
    }
    .terms {
        padding: 45px 0 65px;       
    }
    .terms-box:last-child .terms-box__text {
        padding-bottom: 50px;
    }
    .breadcrumns {
        padding: 38px 0;
    }
    .login-box__item:first-child {
        width: 100%;   
        margin-bottom: 10px; 
    }
    .login-box__item:last-child {
        margin-left: 50px;
    }
}



@media (max-width: 460px) {
    .footer-box {
        margin-left: 0;
    }
    .footer-box + .footer-box {
        margin-left: 0;
    }
    .footer-box form {
        margin-left: 0;
        input {
            width: 90%;
        }
    }
    .footer-bottom p {
        margin: 0 10px;
    }  
}

@media (max-width: 425px) {
    .f-screen {
        padding: 135px 0 150px;
    }
    .f-screen__title {
        font-size: 35px;
        line-height: 35px;
    }
    .f-screen__text {
        margin-bottom: 30px;
        font-size: 18px;
    }
    .f-screen .button {        
        margin-bottom: 10px; 
    }
    .f-screen .button+.button {
        margin-left: 0;
    }
    .contact-content__title {
        font-size: 34px;
    }
    .contact-content__text {
        line-height: 24px;
        margin-bottom: 40px;
    }   
    .contact-top {
        padding: 60px 0;
    }
    .contact-message {
        padding: 55px 10px;
    }
    .page-404__img {
        width: 283px;
        height: 310px;
    }
    .page-404 {
        padding: 60px 0 80px;
    }
    .page-404__text {
        font-size: 27px;
    }
    .register form {
        padding: 25px 25px 0;
    }
    .register { 
        padding: 60px 0 85px;
    }
    .register-box {
        padding-left: 25px;
    }
    .register__wrapper {
        padding: 40px 0;
    } 
    .login-box__item:first-child {
        margin-left: 25px;
    } 
    .login-box__item:last-child {
        margin-left: 25px;
    } 
    .login.register label {
        margin-bottom: 20px;
    }
}

@media (max-width: 375px) {
    .register form button {
        width: 100%;
    }
    .register-box {
        justify-content: center;
        padding-left: 0;
    }
}

@media (max-width: 380px) {
    .footer__inner {
        display: block;
    }
    .footer-box__social a+a {
        margin-left: 2px;
    }  
}